
@{
    ViewBag.Title = "Index";
}

<div class="slider">
    <ul>
        <li><img src="/images/the-beacon.jpg" alt=""></li>
        <li><img src="/images/grew-a-mustache.jpg" alt=""></li>
        <li><img src="/images/photographer.jpg" alt=""></li>
    </ul>
</div>
<div class="personas">
    <div class="imagen1">
        <a href="/Nosotros/Nosotros"><img src="/images/the-father.jpg" /></a>
        <div class="titu1">
            <a href="/Nosotros/Nosotros"><label>THE FATHER</label></a>
        </div>
    </div>
    <div class="imagen2">
        <a href="/Nosotros/Nosotros"><img src="/images/the-actor.jpg" /></a>
        <div class="titu2">
            <a href="/Nosotros/Nosotros"><label>THE ACTOR</label></a>
        </div>
    </div>
    <div class="imagen3">
        <a href="/Nosotros/Nosotros"><img src="/images/the-nerd.jpg" /></a>
        <div class="titu3">
            <a href="/Nosotros/Nosotros"><label>THE NERD</label></a>
        </div>
    </div>
</div>

