
@{
    ViewBag.Title = "Nosotros";
}

<div class="father">
    <img src="/images/the-father.jpg" alt="">
    <p>
        <strong>THE FATHER</strong>, dolor sit amet consectetur adipisicing elit.
        Eum voluptate recusandae omnis ullam animi laborum fugiat dolor quas,
        ratione sapiente, obcaecati repudiandae nemo culpa nam aspernatur neque iusto tenetur eos.
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Libero laboriosam tempora sit nostrum mollitia cupiditate tempore!
        Repudiandae porro non quis, voluptatem natus, earum ipsam aut dicta cumque
        exercitationem iure unde.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Eum voluptate recusandae omnis ullam animi laborum fugiat dolor quas,
        ratione sapiente, obcaecati repudiandae nemo culpa nam aspernatur neque iusto tenetur eos.
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Libero laboriosam tempora sit nostrum mollitia cupiditate tempore!
        Repudiandae porro non quis, voluptatem natus, earum ipsam aut dicta cumque
        exercitationem iure unde. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Libero laboriosam tempora sit nostrum mollitia cupiditate tempore!
        Repudiandae porro non quis, voluptatem natus, earum ipsam aut dicta cumque
        exercitationem iure unde. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    </p>
</div>
<div class="father">
    <img src="/images/the-actor.jpg" alt="">
    <p>
        <strong>THE ACTOR</strong>, dolor sit amet consectetur adipisicing elit.
        Eum voluptate recusandae omnis ullam animi laborum fugiat dolor quas,
        ratione sapiente, obcaecati repudiandae nemo culpa nam aspernatur neque iusto tenetur eos.
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Libero laboriosam tempora sit nostrum mollitia cupiditate tempore!
        Repudiandae porro non quis, voluptatem natus, earum ipsam aut dicta cumque
        exercitationem iure unde.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Eum voluptate recusandae omnis ullam animi laborum fugiat dolor quas,
        ratione sapiente, obcaecati repudiandae nemo culpa nam aspernatur neque iusto tenetur eos.
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Libero laboriosam tempora sit nostrum mollitia cupiditate tempore!
        Repudiandae porro non quis, voluptatem natus, earum ipsam aut dicta cumque
        exercitationem iure unde. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Libero laboriosam tempora sit nostrum mollitia cupiditate tempore!
        Repudiandae porro non quis, voluptatem natus, earum ipsam aut dicta cumque
        exercitationem iure unde. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    </p>
</div>
<div class="father">
    <img src="/images/the-nerd.jpg" alt="">
    <p>
        <strong>THE NERD</strong>, dolor sit amet consectetur adipisicing elit.
        Eum voluptate recusandae omnis ullam animi laborum fugiat dolor quas,
        ratione sapiente, obcaecati repudiandae nemo culpa nam aspernatur neque iusto tenetur eos.
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Libero laboriosam tempora sit nostrum mollitia cupiditate tempore!
        Repudiandae porro non quis, voluptatem natus, earum ipsam aut dicta cumque
        exercitationem iure unde.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Eum voluptate recusandae omnis ullam animi laborum fugiat dolor quas,
        ratione sapiente, obcaecati repudiandae nemo culpa nam aspernatur neque iusto tenetur eos.
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Libero laboriosam tempora sit nostrum mollitia cupiditate tempore!
        Repudiandae porro non quis, voluptatem natus, earum ipsam aut dicta cumque
        exercitationem iure unde. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Libero laboriosam tempora sit nostrum mollitia cupiditate tempore!
        Repudiandae porro non quis, voluptatem natus, earum ipsam aut dicta cumque
        exercitationem iure unde. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    </p>
</div>

